/* src/AppLayout.module.css */

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 98vh;
  background-color: #f3f4f6; 
  overflow: hidden; 
}

.overSection{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 98vh;
  background-color: #f3f4f6; 
  overflow: hidden; 

}

.underSection{
  height: 2vh;
  background-color: #50AF95;
}

.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px; 
  background-color: #f3f4f6;
}

.logoImage {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
.logoText {
  font-size: 5rem;
  font-weight: 700;
  color: #50AF95;
  letter-spacing: 1px;
  line-height: 1;      
  padding-bottom: 8px;
  vertical-align: middle;
}

.sloganArea h2 {
  font-size: 2.2rem;
  font-weight: 800;
  color: #1A9276;
  margin: 0px;
}

.sloganArea h1 {
  font-size: 2.2rem;
  font-weight: 800;
  color: #333;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1.4;
  word-break: keep-all;
}

.sloganArea h2 span{
  color: #333;
}

.sloganArea p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  font-weight: 700;
}

.rightSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
}
.mobileFrame {
  width: 390px; /* 아이폰 너비 */
  height: 100%; /* 높이 */
  background-color: white;
  box-shadow: 0 30px 60px rgba(0,0,0,0.15); /* 입체감 그림자 */
  overflow: hidden; /* 내부 스크롤이 밖으로 안 튀어나오게 */
  position: relative;
}


.appContent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: white;
  scrollbar-width: none; 
}
.appContent::-webkit-scrollbar { display: none; }