.content {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.title {
    color: #1A9276;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 40px 0 30px 0;
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    width: 100%;
    height: 54px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    transition: border 0.3s;
}

.input:focus {
    border: 1.5px solid #50AF95;
}

.submitButton {
    width: 100%;
    height: 54px;
    background-color: #1A9276;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    box-sizing: border-box;
}

.arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #50AF95;
    border-left: 2px solid #50AF95;
    transform: rotate(-45deg); /* 왼쪽 화살표 모양 */
    margin-left: 5px;
}

.backButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
}