/* 상단 헤더 */
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #fff;
}

.backBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #169279; /* 뒤로가기 화살표 색상 */
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #169279;
}

/* 메인 콘텐츠 영역 */
.mainContent {
  flex: 1;
  padding: 20px 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* 1. 받는 사람 정보 스타일 */
.recipientSection {
  margin-top: 30px;
  margin-bottom: 50px;
}

.recipientTitle {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
  line-height: 1.3;
}

.name {
  font-weight: 800; /* 이름 굵게 */
  color: #000;
  text-decoration: underline; /* 이름 밑줄 */
  text-decoration-color: #169279; /* 밑줄 색상 */
  text-decoration-thickness: 3px;
  margin-right: 8px;
}

.suffix {
  font-weight: 700;
  color: #169279; /* '님에게' 녹색 */
}

.subText {
  font-size: 13px;
  color: #888;
  margin-top: 5px;
}

/* 2. 금액 입력 영역 스타일 */
.amountSection {
  margin-bottom: 40px;
}

.label {
  font-size: 20px;
  font-weight: 700;
  color: #169279;
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #169279; 
  padding-bottom: 10px;
  width: 60%;
  min-width: 350px;
}

.amountInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 24px; /* 입력 숫자 크기 */
  font-weight: bold;
  color: #333;
  text-align: right; /* 숫자 오른쪽 정렬 */
  margin-right: 10px;
  background: transparent;
  min-width: 100px;
}

.amountInput::placeholder {
  color: #ddd;
}

.unit {
  font-size: 16px;
  font-weight: 600;
  color: #169279; 
  flex-shrink:0;      
  white-space: nowrap; 
  padding-right: 5px;   
}

/* 3. 버튼 영역 스타일 */
.actionArea {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px;
}

.sendBtn {
  background-color: #169279;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(22, 146, 121, 0.25); /* 그림자 효과 */
  transition: transform 0.1s;
}

.sendBtn:active {
  transform: scale(0.96); /* 클릭 시 살짝 눌리는 효과 */
  background-color: #127a63;
}

/* 하단 네비게이션 */
.bottomNav {
  height: 80px;
  background-color: #169279;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
  position: sticky;
  bottom: 0;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  gap: 6px;
  flex: 1;
}

.active {
    color: #fff;
    font-weight: bold;
}

.navImg {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  opacity: 0.6;
}

.active .navImg {
    opacity: 1;
}

.navText {
  font-size: 11px;
}


